<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active sideTab" id="uploadTab"><a href="#"><img src="assets/upload.png">Upload</a></li>
        <li class="sideTab" id="verifyTab"><a href="#"><img src="assets/verify.png"> Verification</a></li>
        <li class="sideTab" id="downloadTab"><a href="#"><img src="assets/download.png"> Download</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="sidebarBtn"><i class="fa fa-arrow-circle-o-left"></i></div>
      <div class="upload text-center" id="uploadArea">
        <img src="assets/upload2.png">
        <p class="lead">Drag and drop your file</p>
        <p>or</p>
        <button class="btn browseBtn">Browse here</button>
        <p class="acceptFiles"><span>Accepted files:</span> <span>CSV, XLS, XLSX, DBF for more than 10,000 records</span></span></p>
      </div>

      <div class="verify hide" id="verifyContent">
        <div class="panel">
          <table class="table verifytable">
            <thead>
              <tr>
                <th>S.No</th>
                <th>List Name</th>
                <th>No. of records</th>
                <th>File status</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td><span class="listName">Lorem ipsum diet list</span></td>
                <td>1,00,000</td>
                <td>Processing</td>
                <td><button class="btn btn-sm btn-verify">VERIFY</button></td>
                <td><button class="btn btn-sm btn-report">VIEW REPORT <i class="fa fa-chevron-down"></i></button></td>
              </tr>
              <tr>
                <td>01</td>
                <td><span class="listName">Lorem ipsum diet list</span></td>
                <td>1,00,000</td>
                <td>Processing</td>
                <td><button class="btn btn-sm btn-verify">VERIFY</button></td>
                <td><button class="btn btn-sm btn-report">VIEW REPORT <i class="fa fa-chevron-down"></i></button></td>
              </tr>
              <tr>
                <td>01</td>
                <td><span class="listName">Lorem ipsum diet list</span></td>
                <td>1,00,000</td>
                <td>Processing</td>
                <td><button class="btn btn-sm btn-verify">VERIFY</button></td>
                <td><button class="btn btn-sm btn-report">VIEW REPORT <i class="fa fa-chevron-down"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="download " id="downloadContent">
        <div class="panel">
          <table class="table downloadtable">
            <thead>
              <tr>
                <th>S.No</th>
                <th>List Name</th>
                <th>No. of records</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td><span class="listName">Lorem ipsum diet list</span></td>
                <td>1,00,000</td>
                <td><button class="btn btn-sm btn-download"><img src="assets/downloadBtn.png"> DOWNLOAD</button></td>
              </tr>
              <tr>
                <td>01</td>
                <td><span class="listName">Lorem ipsum diet list</span></td>
                <td>1,00,000</td>
                <td><button class="btn btn-sm btn-download"><img src="assets/downloadBtn.png"> DOWNLOAD</button></td>
              </tr>
              <tr>
                <td>01</td>
                <td><span class="listName">Lorem ipsum diet list</span></td>
                <td>1,00,000</td>
                <td><button class="btn btn-sm btn-download"><img src="assets/downloadBtn.png"> DOWNLOAD</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>