<div class="mainLogin main">
  <div class="container">
    <div class="row">
      <div class="formContainer">
        <div class="row">
          <h3 class="text-center">Forgot Password</h3>
        </div>
        <div class="loginFormContainer">
          <div class="loginForm pwdresetconfrm"> 
            <span ng-show="forgotPasswordError" class="validErr">
              <span ng-repeat="error in forgotPasswordError">
                Email {{error[0]}}
              </span>
            </span>
            <div class="fields">
              <label ng-hide="forgotPasswordMailSent" for="loginLabel">Email</label>
              <input type="text" autofocus="autofocus" ng-model="forgotPasswordEmail">
              <div ng-show="forgotPasswordMailSent">
                  Password reset instruction sent successfully.
              </div>
            </div>
            <!-- <div class="form-group row">
              <div ng-hide="forgotPasswordMailSent" class="col-md-2 col-sm-12 loginLabel">Email</div>
              <div ng-hide="forgotPasswordMailSent" class="col-md-9 col-md-offset-1 col-lg-9 col-lg-offset-1 col-sm-12">
                  <input type="text" autofocus="autofocus" ng-model="forgotPasswordEmail">
              </div>
              <div ng-show="forgotPasswordMailSent" class="col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1 col-sm-12">
                  Password reset instruction sent successfully.
              </div>
            </div> -->
            <div class="form-group row" ng-hide="forgotPasswordMailSent">
              <div class="col-sm-12 col-xs-12">
                <div class="loginButton">
                  <a ng-click="forgotPassword()" class="btn btn-success polymer-button">
                    <span ng-hide="forgotPasswordMailSending">Sent Instruction</span>
                    <span ng-show="forgotPasswordMailSending">
                      <i class="fa fa-spin fa-spinner"></i>Sending Instruction
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>