<body>
<section id="header">
    <nav class="navbar headermenu" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle headerToggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand logo">Checkthis.Email</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse headerMenu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#header">HOME</a></li>
            <li><a href="#feature">FEATURES</a></li>
            <li><a href="#price">PRICING</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/signup">SIGN UP</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <section id="banner">
    <div class="container">
      <h1>Grow your business with <span id="typist-element" data-typist="marketing automation,automatic follow-ups,sales automation">email marketing</span></h1>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="500">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="assets/home-hero-1.png" alt="...">
            </div>
            <div class="item">
              <img src="assets/home-hero-2.png" alt="...">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="login">
        <form>
          <div class="fields">
            <input type="email" name="" value="" placeholder="Email Address">
          </div>
          <div class="fields">
            <input type="password" name="" value="" placeholder="Password">
          </div>
          <div class="fields">
            <input type="submit" name="" value="Try it for free">
          </div>
          <p class="text-center">No Credit Card Required</p>
        </form>
        </div>
      </div>
    </div>
  </section><!--/banner-->
</section><!--/home-->

<section id="feature">
  <div class="container">
    <h2 class="text-center">Verify Your Email List</h2>
    <p class="subtext">Grow your business and save time with a seamless experience.</p>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 features text-center">
      <div class="ficons"></div>
      <h3></h3>
      <p>checkactivemail.com is an online service, tto validate the email list. Just log-in, upload your emails and our system does the rest.
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 features text-center">
      <div class="ficons"></div>
      <h3></h3>
      <p>Remove Junk Emails and all the invaild emails from your database. Ensuring you send mails only to valid emails</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 features text-center">
      <div class="ficons"></div>
      <h3></h3>
      <p>Our System has been designed to handle large files. And the database handles the same file structure of the file uploaded.</p>
    </div>
  </div>
</section><!--/feature-->
<section id="price">
  <div class="container">
    <h2 class="text-center">Select the plan that's right for you</h2>
    <p class="subtext">No contracts, No setup fees, and No Installation required.</p>
    <div class="price">
      <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-12 col-xs-offset-0 prices">
        <h3 class="text-center">Basic</h3>
        <div class="rate">
          <p class="text-center"><span>Free</span></p>
        </div>
        <div class="pricetext">
          Verfiy Upto 1000 emails free per Month.
        </div>
        <div class="clearfix"></div>
      </div><!--/prices-->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-xs-offset- 0 prices">
        <h3 class="text-center">Startup</h3>
        <div class="rate">
          <p><i>Starting from</i></p>
          <p class="text-center"><span>$ 5</span></p>
        </div>
        <div class="pricetext">
          Verify Upto 10000 emails Valid for 1 Year.
        </div>
      </div><!--/prices-->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 prices">
        <h3 class="text-center">Business</h3>
        <div class="rate">
          <p><i>Starting from</i></p>
          <p class="text-center"><span>$ 19</span></p>
        </div>
        <div class="pricetext">
          Verify Upto 50000 emails Valid for 1 Year.
        </div>
      </div><!--/prices-->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 prices">
        <h3 class="text-center">Premium</h3>
        <div class="rate">
          <p><i>Starting from</i></p>
          <p class="text-center"><span>$ 49</span></p>
        </div>
        <div class="pricetext">
          Verify Upto 100,000 emails Valid for 1 Year
        </div>
      </div><!--/prices-->
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 prices">
        <h3 class="text-center">High Volume</h3>
        <div class="rate">
          <p><i>Starting from</i></p>
          <p class="text-center"><span>$ 99</span> / month</p>
        </div>
        <div class="pricetext">
          Verify Upto 1,000,000 emails Valid for 1 Year
        </div>
      </div><!--/prices-->
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<section id="footer">
  <div class="container">
    <div class="copyright pull-left">Design and Developed by <a href="http://www.codingmart.com"><img src="assets/Logo1.png" alt="..."></a> </div>
    <div class="sociallink pull-right"><a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a></div>
  </div>
</section>
</body>